
//fonts
$primary-f: Helvetica Nueue, Arial, sans-serif;
$secondary-f: Helvetica Nueue, Arial, sans-serif; 

//text colours
$main-color: white;
$subtext-color: #EC5357;

//backgrounds
$first-color: #EEACAC;
$second-color: #DAE9F7;
$body-bg: white;