@import '_vars';
@import 'modules/_header';
@import 'modules/_footer';

* {
    margin: 0;
    padding: 0;

}

body {
    width: 1080x;
    height: 600px;
    margin: 0 auto;
}

header h1{
    color: white;
}

main {
    width: 1080px;
    height: 600px;
    margin: 0 auto;
}

main h1 {
    color: $subtext-color;
    font-family: $primary-f;
    padding: 25px 25px 0px 25px;
}

main h2 {
    color: $subtext-color;
    font-family: $secondary-f;
    padding: 5px 5px 25px 25px;
   
}

.question {
    width: 350px;
}

.topInfo {
    display: flex;
}

//world background

.sickleBack { 
    width: 500px;
    position: absolute;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 550px;
    z-index: -1;
}


//blood info & transition

.bloodCells {
    display: flex;
}

.badBlood {
    display: flex;  
    height:100px;
    width:100px;
    padding: 2px;
    margin: 8px;
}

.badBlood:hover {
    display: flex;
    border:1px solid #EC5357;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    cursor: pointer;

}

.goodBlood {
    display: flex;  
    height:100px;
    width:100px;
    padding: 2px;
    margin: 8px;
}

.goodBlood:hover {
    display: flex;
    border:1px solid #EC5357;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    cursor: pointer;

}


.badCellDesc {
    display: absolute;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
    z-index: 3;
}

.badVein {
    position: absolute;
    width: 700px;
    padding: 0px 25px 25px 125px;
    z-index: 2;
}

.goodVein {
    position: absolute;
    width: 700px;
    padding: 0px 25px 25px 125px;
    z-index: 1;
}

// side facts
.factCont{
 position: absolute;
 float: left;
}

.fact1 {
    display: flex;
    float: right;
    // position: absolute;
    right: 0;
    height: 75px;
    width: 200px;
    margin-top: 25px;
    background-color: $second-color;
}

.fact1 p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    
}

.fact1Img {
    width: 35px;
    padding: 5px;
}

.fact2 {
    display: flex;
    height: 75px;
    width: 200px;
    background-color: $second-color;
}

.fact2 p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 8px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.fact2Img {
    width: 35px;
    padding: 5px;
}



.geneDesc {
    width: 250px;
    height: 150px;
    background-color: lightgrey;
}

.geneDesc:hover {
    cursor: pointer;
 }


.fact3 {
    display: flex;
    height: 75px;
    width: 300px;
    background-color: $first-color;
}

.fact3 p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.fact3Img {
    width: 35px;
    padding: 5px;
}


//statistic percentages and data info
.stat1 {
    background-color:red;
    width: 200px;
    height: 80px;
    z-index: 4;
    padding: 10px 10px 10px 50px;
}

.stat2 {
    background-color:purple;
    width: 200px;
    height: 80px;
    z-index: 4;
    padding: 10px;   
    margin: 10px;
}

.stat3 {
    background-color:blue;
    width: 200px;
    height: 80px;
    z-index: 4;
    padding: 10px;
    margin: 10px;
}

.stat4 {
    background-color:green;
    width: 200px;
    height: 80px;
    z-index: 4;
    padding: 10px;
    float: right;
   
}

.stats {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    float: right; 
}