@import '_vars';
@import 'modules/_header';
@import 'modules/_footer';

* {
    margin: 0;
    padding: 0;
}

main {
    height: 600px;
}

main h1 {
    color: $subtext-color;
    font-family: $primary-f;
    padding: 25px 25px 0px 25px;
}

main h2 {
    color: $subtext-color;
    font-family: $secondary-f;
    padding: 5px 5px 25px 25px;
   
}

.question {
    width: 350px;
}

.sickleBack { 
    width: 500px;
    position: absolute;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 550px;
    z-index: -1;
}

.topInfo {
    display: flex;
}

.bloodCells {
    display: flex;
}

.badBlood {
    display: flex;  
    height:100px;
    width:100px;
    padding: 2px;
    margin: 8px;
}

.badBlood:hover {
    display: flex;
    border:1px solid #EC5357;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    cursor: pointer;

}

.goodBlood {
    display: flex;  
    height:100px;
    width:100px;
    padding: 2px;
    margin: 8px;
}

.goodBlood:hover {
    display: flex;
    border:1px solid #EC5357;    
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
    cursor: pointer;

}


.badCellDesc {
    display: absolute;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
    z-index: 3;
}

.factCont{
 position: absolute;
 float: left;
}

.fact1 {
    float: right;
    position: absolute;
    right: 0;
    height: 75px;
    width: 200px;
    margin-top: 25px;
    background-color: $second-color;
}

.badVein {
    position: absolute;
    width: 800px;
    padding: 25px 25px 25px 95px;
    z-index: 2;
}

.goodVein {
    position: absolute;
    width: 800px;
    padding: 25px 25px 25px 95px;
    z-index: 1;
}

.fact2 {
    height: 75px;
    width: 200px;
    background-color: $second-color;
}

.geneDesc {
    width: 250px;
    height: 150px;
    background-color: lightgrey;
}

.geneDesc:hover {
    cursor: pointer;
 }


.fact3 {
    height: 75px;
    width: 300px;
    background-color: $first-color;
}