<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="stylesheet" href="css/main.css">

    <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>

</head>

<body>



        {{{ body }}}






{{!-- lightbox --}}
 {{!-- might need to be directed to main.js --}}
    <script type="module" src="js/lightbox.js"></script>  
    <script>
        var name = "Sickle Cell Infograph";

        console.log('name in main file: ' + name);
    </script>
    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-foodImage"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>

    <!-- end templates-->




</body>

</html>