<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Interactive Infographic | Sickle Cell Disease</title>
</head>
<body>
   <img src="images/sickleBack.svg" class="sickleBack" alt="sickleBack">
   <header>
      <img src="images/logo.svg" class="logo" alt="logo">
      <h1>Sickle Cell Anemia</h1>
      <h2>Understanding the Impact</h2>
   </header>
   <main>

      <div class="fact1">
      
{#each data}
   <p>{discoverer}</p>
{/each}
        
      </p>
      </div>

      <section class="topInfo">
      <div class="question">
      <h1>Sickle Cell Disease</h1>
      <h2>What is Sickle Cell?</h2>
      </div>

      <div class="bloodCells">
      <div class="badCell"> <img src="images/badBlood.svg" class="badBlood" id="badBlood" alt="badBlood"></div>
      <div class="goodCell"> <img src="images/goodBlood.svg" class="goodBlood" id="goodBlood" alt="goodBlood"></div>
     
      </div>
      </section>


  {{!-- <img src="images/goodVein.svg" class="goodVein" id="goodVein" alt="goodVein" > --}}
  <img src="images/badVein.svg" class="badVein" id="badVein" alt="badVein" > 
   <img src="images/goodVein.svg" class="goodVein" id="goodVein" alt="goodVein" >




      

      <div class="goodCellDesc"></div>
      <div class="badCellDesc"></div>

      <div class="factCont">
      <p></p>
      <div class="fact2"> 
      </div>

      <div class="geneDesc"></div>

      <div class="fact3">
      </div>
      <p></p>
      </div>
      
      
      </div>

   </main>
   <footer>
      <h1>derrikxavier © 2019 </h1> 
      <h2>Sources:<br>
         1. https://www.who.int/ <br>
         2. https://sites.google.com/a/sicklecellontario.org/www/sickle-cell-101/a-history-of-sickle-cell-disease <br>
         3. https://www.npr.org/sections/health-shots/2013/07/17/202628070/sickle-cell-anemia-is-on-the-rise-worldwide <br>
         4. https://sicklecellontario.ca/about-sickle-cell/the-history-of-sickle-cell/<br>
         5. https://www.sicklecelldisease.ca/eng/2018/09/28/sickle-cell-trait/</h2>
   </footer>
   <script src="js/main.js"></script>
</body>
</html>