footer {
    background-color: $second-color;
    font-family: $primary-f;
    height: 100px;
    width: 100%;
    bottom: 0;
}

footer h1 {
    float: left;
    font-size: 12px;
    padding: 10px;
}

footer h2 {
    float: right;
    font-size: 6px;
    text-align: left;
    padding: 10px;
}