 header {
    background-color: $first-color; 
    color: $main-color;
    width: 100%;
 }

 .logo {
     position: absolute;
     width: 60px;
     height: 60px;
     padding: 15px;
     
 }

 header h1 {
     padding: 25px 25px 0px 25px;
     text-align: center;
     font-family: $primary-f;
 }

 header h2 {
    padding: 5px 5px 25px 5px;
    text-align: center;
    font-family: $primary-f;
}