
#to-top img {
    width: 30px;
    height: 30px;
    padding: 10px;
    float: right;
}

.diagramCont{ 
    display: flex;
    height: 75px;
    max-width: 300px;
    justify-content: space-evenly;
    z-index: 10;

    .user-panel h1 {
        font-family: Helvetica, Arial, sans-serif;
        padding: 15px;
        color: #EA3F54;
    }

    .user-panel {
        flex: 0 1 200px;
        text-align: center;
        padding: 8px;
        z-index: 10;

        .u-foodImage { max-width: 200px; 
            -webkit-clip-path: inset(0px round 5px 5px 5px 5px);
            clip-path: inset(0px round 5px 5px 5px 5px);
        
        }

        .u-link { 
            display: block; 
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            text-decoration: none;
            width: 150px;
            margin: 20px;
            background-color: #EA3F54;
            padding: 10px;
            border-radius: 25px;
            color: white;
        }

    }
}


